@model AllReviewsViewModel

@if (!Model.Reviews.Any())
{
    <h4>No reviews yet</h4>
}
else
{
    foreach (var review in Model.Reviews.OrderByDescending(r => r.DateAdded))
    {
        <div>
            <a asp-controller="Books" asp-action="Details" asp-route-id="@review.BookId" class="display-5 fw-bolder">@review.Book.Title</a>
            <img src="@review.Book.CoverUrl" alt="..." height="150" width="100" />
            <div class="fs-5 mb-5">
                <span class="text-decoration-line-through">By</span>
                <a asp-controller="Authors" asp-action="Details" asp-route-id="@review.Book.AuthorId">@review.Book.Author.Name</a>
            </div>
        </div>
        <p>@review.User.UserName rated it @review.Stars.ToString() stars</p>
        @if (@review.Text != null)
        {
            <p>@review.Text</p>
        }
    }
}
