@model BookDetailsViewModel

    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="@Model.CoverUlr" alt="..." /></div>
                <div class="col-md-6">
                    <h2 class="display-5 fw-bolder">@Model.Title</h2>
                    <div class="fs-5 mb-5">
                        <span class="text-decoration-line-through">By</span>
                        <a asp-controller="Authors" asp-action="Details" asp-route-id="@Model.AuthorId">@Model.AuthorName</a>
                    </div>
                    <p>Pages: @Model.Pages</p>
                    <p>Year published: @Model.YearPublished</p>
                    <p>Genres:</p>
                    <p>Rating: 4/5</p>
                    <span>Description:</span>
                    <p>@Model.Description</p>
                </div>
            </div>
        </div>
    </section>